.skills-title-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 60px;
}

.skills-title-container p {
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 60px;
}
.skills-title-container a {
  color: aliceblue;
  margin-bottom: 40px;
}

.git-icon {
  font-size: 60px;
  cursor: pointer;
  transition: 0.3s;
}

.git-icon:hover {
  transition: 0.3s;
  box-shadow: 0 0 60px rgba(139, 97, 255);
}

.git {
  color: rgb(139, 97, 255);
}

.projects-text {
  font-size: 19px;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.projects-cards-container {
  height: 500px;
  overflow: visible;
}
.card {
  display: flex;
  text-decoration: none;
  color: aliceblue;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  padding: 5px;
}

.card-text {
  font-size: 18px;
  letter-spacing: 1px;
  padding: 5px 10px;
}

.card-image {
  height: 100%;
}
/* CARD 1  */

.blur-layer-sync {
  background: linear-gradient(45deg, #ff2291, #ffbc00);
  z-index: 0;
  height: 150px;
  width: 100%;
  padding: 5px;
  box-shadow: 0px 0px 10px #ff2291, 0 0 40px #ff2291;
  border-radius: 4px;
  margin-bottom: 40px;
  transition: 0.3s;
}
.blur-layer-sync:hover {
  transition: 0.3s;
  box-shadow: 0px 0px 10px #ff2291, 0 0 40px #ff2291, 0 0 50px #ff2291;
}
/* CARD 2  */
.blur-layer-nidia {
  background: linear-gradient(45deg, #03a9f4, #ff0058);
  z-index: 0;
  height: 150px;
  width: 100%;
  padding: 5px;
  box-shadow: 0px 0px 10px #03a9f4, 0 0 40px #03a9f4;
  border-radius: 4px;
  margin-bottom: 40px;
  transition: 0.3s;
}
.blur-layer-nidia:hover {
  transition: 0.3s;
  box-shadow: 0px 0px 10px #03a9f4, 0 0 40px #03a9f4, 0 0 50px #03a9f4;
}
/* CARD 3 */
.blur-layer-axie {
  background: linear-gradient(45deg, #9d34ff, #00f0ff);
  z-index: 0;
  height: 150px;
  width: 100%;
  padding: 5px;
  box-shadow: 0px 0px 10px #9d34ff, 0 0 40px #9d34ff;
  border-radius: 4px;
  transition: 0.3s;
}
.blur-layer-axie:hover {
  transition: 0.3s;
  box-shadow: 0px 0px 10px #9d34ff, 0 0 40px #9d34ff, 0 0 50px #9d34ff;
}
