.info-container {
  margin: 120px 55px 0px 55px;
  color: rgb(240, 240, 240);
}

.title {
  color: rgb(85, 190, 255);
  padding-left: 60px;
  margin-bottom: 15px;
  width: 100%;
  font-size: 36px;
  letter-spacing: 2px;
}

.text {
  margin-bottom: 120px;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 1px;
}

.icons-container {
  justify-content: space-around;
  display: flex;
}

.a-tag {
  text-decoration: none;
  cursor: pointer;
  display: flex;
}

.about-icon-description {
  color: aliceblue;
  letter-spacing: 1px;
  font-size: 20px;
  text-align: center;
}

.about-icons {
  color: rgb(85, 190, 255);
  text-align: center;
  margin-bottom: 15px;
  font-size: 45px;
  transition: 0.2s;
  margin: auto;
}
.about-icons:hover {
  transition: 0.2s;
  font-size: 52px;
}

.color-blue {
  color: rgb(85, 190, 255);
  letter-spacing: 2px;
}

.icon-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80px;
}

@media (max-width: 900px) {
  .icons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon-box {
    margin: auto;
    margin-bottom: 50px;
  }

  .info-container {
    margin: 60px 15px;
  }

  .title {
    padding: 0px;
    text-align: center;
  }
  .text {
    font-size: 18px;
    margin-bottom: 50px;
    text-align: center;
  }
}
