.text-skills {
  letter-spacing: 1px;
  font-size: 19px;
  margin-bottom: 40px;
}

.skills-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.skills-column {
  margin: 50px 50px;
}

.skills-column h3 {
  color: rgb(255, 140, 87);
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 10px;
}

.skills-column li {
  list-style: none;
  letter-spacing: 1px;
  font-size: 17px;
}

.skills-title {
  color: rgb(255, 140, 87);
  letter-spacing: 2px;
  font-size: 30px;
  margin-bottom: 15px;
  padding-left: 60px;
}
