.text-skills {
  letter-spacing: 1px;
  font-size: 19px;
  margin-bottom: 40px;
}

.skills-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.skills-column {
  width: 25%;
}

.skills-column h3 {
  color: rgb(255, 140, 87);
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 10px;
}

.skills-column li {
  list-style: none;
  letter-spacing: 1px;
  font-size: 17px;
}

.skills-title {
  color: rgb(255, 140, 87);
  letter-spacing: 2px;
  font-size: 30px;
  margin-bottom: 15px;
  padding-left: 60px;
}

@media (max-width: 900px) {
  .skills-title {
    padding: 0px;
    text-align: center;
  }
  .text-skills {
    text-align: center;
    font-size: 16px;
  }

  .skills-container {
    flex-direction: column;
    align-items: center;
  }

  .skills-column {
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
  }
}
